<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encryptor9000</title>
</head>

<body>

    <h1>Cryptic encryption in cryptonite - read that, Superman</h1>
    <hr>

    <p>Enter the keyword and text you wish to encode/decode, and your result will appear below.</p>
    <hr>
    <textarea rows="3" cols="50">
        To decode the message you must use the same keyword by which it was encoded!
        </textarea>

    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Transform</button>
    </form>

    <hr>

    <div class="text">
        {{text}}

    </div>






</body>

</html>